@import '../../../assets/color';

.chat-header {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid $light-gray;
    padding: 10px;
}

.chat-header-title {
    font-weight: bold;
    font-size: 20px
}