$red: red;
$purple: #4D394B;
$medium-purple: #5b4257;
$dark-purple: #2e212c;
$white-purple: #c3b8c2;
$white: white;
$black: black;
$gray: #9f9e9e;
$medium-gray: #d1cfcf;
$light-gray: #d1cfcf;
$sea-wave: #4C9689;
